# Auto detect text files and perform LF normalization
* text=auto eol=lf
# From: https://forum.obsidian.md/t/being-able-to-select-line-endings-crlf-lf/5294/14
*.md text eol=lf
*.txt text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.py text eol=lf